html, body {
  height: 100%;
}
body
{
    padding-top : 50px !important;
    background-color:lightgrey;
}



  .post {
    
        margin-bottom: 70px;    
       
 
    }

   .date {
        float: right;
        color: #828282;
    }

      p{
          text-align:justify;
        word-wrap:break-word;
      text-indent: 1.5em;
     }




      .body-content {
 background-color:white;
 
   min-height: 100%;
}


