body
{
    padding-top : 80px !important;
}



  .post {
        margin-bottom: 70px;    
       
 
    }

   .date {
        float: right;
        color: #828282;
    }

      p{
          text-align:justify;
        word-wrap:break-word;
     }