 
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

 
        <div class="item">
            <span class="id">
               Регистрация успешна
            </span>
          
          
        </div>
    
