@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1> Как проехать: </h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9bf9d2c634a44f321c5acd2115419bf0808298222ffef9c5a50f78085114f72b&amp;width=1140&amp;height=582&amp;lang=ru_RU&amp;scroll=true"></script>
