
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a class="flamp-widget" href="https://novosibirsk.flamp.ru/firm/kapitan_vrungel_ooo_detskijj_ozdorovitelnyjj_centr-70000001006337465" data-flamp-widget-type="responsive-new" data-flamp-widget-count="5" data-flamp-widget-id="70000001006337465" data-flamp-widget-width="100%">Отзывы о нас на Флампе</a>
<script>!function(d,s){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);js.async=1;js.src="//widget.flamp.ru/loader.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script");</script>